---
import '../styles/global.css';
import '../components/Navigation.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "mi blog";
---

<BaseLayout pageTitle={pageTitle}>
<h2>
	Mi blog favorito
</h2>
</BaseLayout>